.pio.nosync
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
.gemini/.env
web_apps/cocktail_maker/asset/CVS/Entries
include/webserver.h
web_apps/cocktail_maker/asset/CVS/Entries.Extra
web_apps/cocktail_maker/asset/CVS/Entries.Extra.Old
web_apps/cocktail_maker/asset/CVS/Entries.Old
web_apps/cocktail_maker/asset/CVS/Repository
web_apps/cocktail_maker/asset/CVS/Root
